*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
header{
    background: rgb(10,43,94);
    background: linear-gradient(90deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
}
.s3{
    background: rgb(10,43,94);
    background: linear-gradient(270deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
}
.s2{
    background-color: #F6F9FC;
}
.main-heading{
    font-size: 3.2rem;
    font-weight: 500;
    color:#132E43;
    line-height: 3.7rem;
    margin: 0.5em 0em;

}
.giant-heading{
    font-size: 4rem;
    font-weight: 600;
    line-height: 3.9rem;
    margin:  0.5em 0em;

}
.sub-heading{
    font-size: 1.4rem;
    color:#132E43;
    font-weight: 600;
    line-height: 2rem;
    margin:  0.5em 0em;

}
.text{
    font-size: 1rem;
    font-weight: 400;
    color:#132E43;
    line-height: 1.7rem;
    font-family: 'Montserrat', sans-serif;
}
.special .logo img{
    min-height: 39px;
    min-width: 128px;
}
.mid{
    text-align: center;
    max-width: 56%;
    margin: 0px auto;
}
.flex-container>div{
    margin: 1em 0em;
}
.white{
    color: white;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.clear { 
    clear:both;
}
i{
    color:#132E43;
}
footer a{
    color:#132E43;
}
.small-heading{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(247,91,145);
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding: 2em 0em;
}
.special .logo{
    text-align: center;
    flex: 0 0 15%;
}
.special .border-button{
    text-align: right;
    flex: 0 1 25%;
}
.special .menu{
    text-align: center;
    flex: 0 1 50%;
}
div .h-d1{
    flex: 0 1 40%;
    text-align: left;
    margin-top: 4em;
}
.h-d2{
    flex: 0 1 60%;
    text-align: left;
}
.s1 .flex-container>div{
    text-align: center;
    flex: 0 1 30%;
}
.s2 .flex-container>div{

    text-align: left;
    flex: 0 1 35%;
}
.s2-d2 img{
    float: left;
}
.s3-d1, .s3-d2{
    flex: 0 1 45%;
}
.s3-d3, .s3-d4, .s3-d5, .s3-d6{
    padding: 2em 2.2em;
    border: 1px solid rgba(255, 255, 255, 0.171);
    text-align: center;
    flex: 0 1 20%;
}
.s3-d3{
    padding: 2em 1em;
}
.s3 .mid a{
    text-decoration: underline;
}
.s4-d1, .s4-d2, .s4-d3{
    text-align: center;
    flex: 0 1 25%;
}
.s5-d1,.s5-d2,.s5-d3{
    flex: 0 1 30%;
}
.s5 .flex-container{
    width: 90%;
    margin: 0px auto;
}
.s6{
    background-image: url("../images/ezgif-2-82af66fcd1cb.png"),linear-gradient(#0b0a4675,#0c0b4b83);
    background-blend-mode: overlay;
    background-repeat: no-repeat;


}
.f-d4, .f-d1{
    flex: 0 1 30%;
}
.f-d2, .f-d3{
    flex: 0 1 15%;
}
.outer-container{
    padding: 2rem 0px;
}
header .outer-container, footer .outer-container {
    padding:0px;
}
.s1 .mid{
    margin-bottom: 0px ;
}
.s6 .flex-container{
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.s6 .button{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
footer .flex-container{
    align-items: flex-start;
}
footer .sub-heading{
    margin-top: 0px;
    margin-bottom: 1.5rem;
}
footer img{
    min-width: 130px;
    min-height: 41px;
    padding-top: 0px;
    padding-left: 0px;
}
footer li{
    margin: 1.5em auto ;
}
footer .small-text{
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: 1em auto;
    font-family: 'Montserrat', sans-serif;
}
footer .input{
    position: relative;
    border: 1px solid #132E43;
    color:#132E43;
    border-radius: 30px;
    width: 100%;
}
input{
    margin-left: 0.5em;
    background-color: transparent;
    width: 80%;
    vertical-align: middle;
    outline: none;
    border: none;
    line-height: 2rem;
    padding: 0.3em 1em;
}
.input i{
    position: absolute;
    top: 30%;
    right: 5%;
}
.f-d4 .flex-container{
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 2rem auto;
}
footer .unchanged i{
    flex: 0 1 15%;
}
.f-d1 .sub-heading{
    margin-top: 1.7rem;
}
button{
    outline: none;
    border: none;
    font-size: 1rem;
    width: 11em;
    height: 3em;
    border-radius: 30px;
    font-weight: 600;
    
}
.button button{
    background: rgb(247,91,145);
    background: linear-gradient(180deg, rgba(247,91,145,1) 0%, rgba(249,107,108,1) 100%);
    color: white;
}
.border-button button{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
div.s2-d2-d1-d1{
    margin:0px auto;
}
.s4 .border-button button{
    border: 1px solid rgb(247,91,145);
    background-color: transparent;
    color:rgb(247,91,145) ;
}
.s6 .border-button button{
    background-color: white;
    color:rgb(247,91,145) ;

}
.outer-container{
    margin: 0rem 3rem;
    padding: 4rem 0rem;
}
h2+p{
    margin: 1em 0em 1em 0em;
}
h1+p{
    margin: 1em 0em 1em 0em;
}
header .s{
    padding: 0em;
    align-items: flex-start;

}
.unchanged{
    padding-top: 0em;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.075);
}
#check{
    display: none;
}
.checkbtn{
    cursor: pointer;
}
.checkbtn i{
    color: white;
    display: none;
}
a:hover,a:active{
    color: rgb(248, 105, 155);
    transition: 0.5s;
}
i:hover, i:active{
    color: rgb(248, 101, 153);
    transition: 0.5s;
    
}
.special{
    padding: 0.2em 1em;
    height: 80px;
    background: rgb(10,43,94);
    background: linear-gradient(90deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
    position: sticky;
    top: 0px;
    z-index: 1;
}
nav .flex-container{
    justify-content: space-around;
    align-items: center;
}
.none1,.none2{
    display: none;
}
.s2 .button{
    padding-top: 1rem;
}
.s2-d1{
    position: relative;
}
.s2 .subimage{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 30%;
}
.button button:hover{
    background-color: white;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    color: rgb(248, 101, 153);
    border: none;
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(255, 138, 179);
    transition: 0.5s;

}
.border-button button:hover{
    background-color: white;
    color: rgb(10,43,94);
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 5px 5px 30px rgb(120, 161, 223);

}
.s3 .spec:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgb(255, 138, 179);
    transition: 0.5s;
}
.subimage:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgb(224, 224, 224);
    transition: 0.5s;
}
.s1 img:hover, .s5 img:hover, .s6 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.up-arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background: rgb(247,91,145);
    background: linear-gradient(180deg, rgba(247,91,145,1) 0%, rgba(249,107,108,1) 100%);
    border-radius: 50%;
    padding: 15px 20px;
    display: none;
}
.up-arrow:hover{
    box-shadow: 2px 2px 5px rgb(255, 138, 179);
}
.up-arrow i{
    color: white;
}
@media only screen and (max-width: 1050px) {
    *{
        font-size: 14px;
    }
    .giant-heading{
        font-size:3.5rem;
    }
    .sub-heading{
        font-size: 1.3rem;
    }
    .hide{
        display: none;
    }
    .special .menu {
        flex: 0 1 60%;
        text-align: left;
    }
    .special .logo{
        flex: 0 1 30%;
        text-align: left;
    }
    .h-d1{
        padding-bottom: 2rem;
    }
    .s .h-d1,.giant-heading{
        margin-top: 1em;
    }
    .none1{
        display: inline-block;
    }
}
@media only screen and (max-width: 950px) {    
    .s2 .flex-container>div{
        flex: 0 1 40%
    }
    .s3-d3,.s3-d4,.s3-d5,.s3-d6{
        flex: 0 1 40%;
    }
    .s3 .wrap{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 850px) {
    *{
        font-size: 13px;
    }
}
@media only screen and (max-width: 750px) {
    *{
        font-size: 12px;
    }
    .special .menu {
        flex: 0 1 70%;
        text-align: left;
    }
    .special .logo{
        flex: 0 1 25%;
        text-align: left;
    }
    .s2 .flex-container>div{
        flex: 0 1 45%
    }
}
@media only screen and (max-width: 700px){
    .s2 .flex-container{
        flex-direction: column;
    }
    .s2-d2 img{
        float: none;
    }
    .mid{
        max-width: 90%;
    }
}
@media only screen and (max-width: 650px){
    .giant-heading{
        font-size: 3rem;
    }
    .text{
        font-size: 0.9rem;
    }
    .small-text{
        font-size: 0.8rem;
    }
    .sub-heading{
        font-size:1.2rem;
    }
    footer .outer-container{
        margin:0px 1em;
    }
    .s2 .subimage{
        top: 70%;
        left: 10%;
    }
    .s5 img:hover{
        transform: scale(1.02);
    }
}
@media only screen and (max-width: 600px){
    .s3 .flex-container{
        flex-direction: column;
    }
    .s3-d3,.s3-d4,.s3-d5,.s3-d6{
        width: 100%;
    }
    .s3 .spec:hover{
        transform: scale(1.05);
        transition: 0.5s;
        box-shadow: none;
    }
}
@media only screen and (max-width: 550px) {
    .up-arrow{
        display: inline-block;
    }
    .flex-container{
        flex-direction: column;
    }
    .unchanged{
        flex-direction: row;
    }
    .mid{
        max-width: 100%;
        margin: auto;
    }
    .menu{
        width: 100%;
    }    
    .special{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        top:0px;
    }
    .logo {
        flex: 0 1 30%;

    }
    .checkbtn{

        position: absolute;
        top: 32px;
        right: 30px;
    }
    .checkbtn i{
        display: block;
    }
    header .menu{
        flex:1 1 100%
    }
    .menu ul{
        position: fixed;
        height: 80vh;
        background: rgb(10,43,94);
        background: linear-gradient(90deg, rgba(10,43,94,1) 1%, rgba(12,12,31,1) 100%);
        top: 70px;
        text-align: center;
        width: 100%;
        left: 100%;
        transition: all 0.5s;
    }
    .menu li{
        display: block;
    }
    .menu ul a{
        font-size: 1.2rem;
    }
    .hide{
        display: none;
    }
    #check:checked ~ #ch{
        left: 0;
    }        
    .s .h-d1{
        margin-top: 0px;
    }
    .sub-heading{
        font-size: 1.5rem;
    }
    footer a{
        font-size: 1.2rem;
    }
    .text{
        font-size: 1.2rem;
    }
    .s1 .flex-container>div{
        width: 70%;
    }
    .main-heading{
        font-size: 2.8rem;
    }
    .s5 img{
        width: 100%;
    }
    .s5 .flex-container{
        width: 100%;
        padding: 1em 0px;
    }
}


